<screen name="MainSetting" position="0,0" size="1280,720" title="..::tvRaiPreview::.." backgroundColor="#20000000" flags="wfNoBorder">
	<widget name="title" position="147,60" size="689,51" font="Regular;24" halign="left" valign="center" foregroundColor="#002a79b8" backgroundColor="black" transparent="1" zPosition="5"/>
	<widget name="info" position="146,562" size="686,36" font="Regular;20" halign="center" foregroundColor="yellow" backgroundColor="#20000000" transparent="1" zPosition="5"/>
	<eLabel position="76,0" size="826,720" backgroundColor="#60000000" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvRaiPreview/res/pics/main2hd.png" position="0,0" size="886,720" zPosition="2"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvRaiPreview/res/pics/tvs.png" position="146,11" size="279,50" alphatest="blend" zPosition="5"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvRaiPreview/res/pics/sep.png" position="146,116" size="686,5" zPosition="5"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvRaiPreview/res/pics/sep.png" position="146,606" size="686,5" zPosition="5"/>
	<!-- Menu List -->
	<widget name="text" position="146,128" size="686,398" scrollbarMode="showOnDemand" transparent="1" zPosition="5" foregroundColor="#00a0a0a0" foregroundColorSelected="#ffffff" backgroundColor="#20000000" backgroundColorSelected="#0b2049" selectionPixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvRaiPreview/res/pics/sliderb.png"/>
	<!-- Colors 1220 -->
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvRaiPreview/res/pics/key_red.png" position="146,630" size="20,20" alphatest="blend" zPosition="5"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvRaiPreview/res/pics/key_green.png" position="146,670" size="20,20" alphatest="blend" zPosition="5"/>
	<widget name="key_red" position="180,626" size="200,26" font="Regular;20" halign="left" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1"/>
	<widget name="key_green" position="180,666" size="200,26" font="Regular;20" halign="left" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1"/>
	<widget name="key_yellow" position="180,696" size="200,26" font="Regular;20" halign="left" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1"/>
</screen>
