Package: enigma2-plugin-extensions-tvraipreview
Version: 1.2
Section: extra
OE: 2.0
License: *
Priority: optional
Architecture: all
Maintainer: @lululla
Description: tivustream rai preview addons
Source: tivustream
Homepage: www.tivustream.com
