<!-- Skin Setting 15/08/2020 -->
<screen name="MainSetting" position="0,0" size="1920,1080" title="..::tvRaiPreview::.." backgroundColor="#20000000" flags="wfNoBorder">
	<widget name="title" position="220,84" size="1027,58" font="Regular;30" halign="left" valign="center" foregroundColor="#002a79b8" backgroundColor="black" transparent="1" zPosition="5"/>
	<widget name="info" position="220,165" size="1030,50" font="Regular;30" halign="center" valign="center" foregroundColor="yellow" backgroundColor="#202020" transparent="0" zPosition="5"/>
	<!-- Graph -->
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvRaiPreview/res/pics/main2.png" position="0,0" size="1920,1080" zPosition="1"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvRaiPreview/res/pics/tvs.png" position="220,35" size="279,50" alphatest="blend" zPosition="5"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvRaiPreview/res/pics/sep.png" position="220,145" size="1030,8" zPosition="5"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvRaiPreview/res/pics/sep.png" position="220,910" size="1030,8" zPosition="5"/>
	<!-- Menu List -->
	<widget name="text" position="220,230" size="1030,600" scrollbarMode="showOnDemand" transparent="1" zPosition="5" foregroundColor="#00a0a0a0" foregroundColorSelected="#ffffff" backgroundColor="#20000000" backgroundColorSelected="#0b2049" selectionPixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvRaiPreview/res/pics/sliderb.png"/>
	<!-- Colors 1220 -->
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvRaiPreview/res/pics/key_red.png" position="220,945" size="30,30" alphatest="blend" zPosition="5"/>
	<ePixmap pixmap="/usr/lib/enigma2/python/Plugins/Extensions/tvRaiPreview/res/pics/key_green.png" position="220,1005" size="30,30" alphatest="blend" zPosition="5"/>
	<widget name="key_red" position="270,940" size="300,40" font="Regular;30" halign="left" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1"/>
	<widget name="key_green" position="270,1000" size="300,40" font="Regular;30" halign="left" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1"/>
	<widget name="key_yellow" position="270,1060" size="300,40" font="Regular;30" halign="left" valign="center" backgroundColor="#20000000" zPosition="5" transparent="1"/>	
</screen>